$columns: 12;

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 720px;
}

.sideBar {
    background-color: $green;
    width: 225px;
    min-width: 225px;
    background: #FFFFFF;
    padding: 14px 32px;

    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.dash-right {
    background-color: $red;
    flex-grow: 1;
}

.dash-right-top{
    padding: 14px 21px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 21px;
    gap: 10px;
}

.top-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 21px;
    gap: 10px;
    background: #FFFFFF;

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;

        &-profile {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 20px;
        }
    }
}

.top-nav-container span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #45464E;
}

.module {
    width: 100%;
    min-height: 100px;
    margin: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 11px 15px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 12px;
}

.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 20px;
    gap: 16px;

    width: 146px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.menuItem:active{ 
    background: #5570F1;
    border-radius: 12px;
}