.container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin: 32px 0;
}

.row {
    flex-grow: 1;
    display: flex; 
    flex-wrap: wrap;  
 }


%col {
    display: flex;
    flex-wrap: wrap; 
    min-height: 20px;
    justify-content: center;
}


@for $i from 1 through $columns {
    .col-#{$i} {
        @extend %col;
        width: calc(100% / $columns * $i );
        @media screen and (max-width: 768px) {
        & {
            width: 100%;
        }
    }

    }
}