#cart .width-50 {
    width: 50%;
}
#cart .width-10 {
    width: 10%;
}
#cart .width-80 {
    width: 80%;
}

#cart td, #cart th{
    text-align: center;
}

#cart .totalProducts {
    text-align: right;
}

#cart .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap : 10px
}

#cart .container-buttons-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#cart button, #cart input {
    width: 33%;
}

#cart .container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap : 10px
}
#cart .totalProducts {
    width: 10%;
    text-align: right;
}

#cart .quantity {
    text-align: center;
}
